
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- basic -->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <!-- site metas -->
    <title>Ethereum Blockchain Interaction Demo</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.4.5.3.css">

    <!-- open-iconic css -->
    <link rel="stylesheet" href="css/open-iconic-bootstrap.css">

    <!-- custom css -->
    <link rel="stylesheet" href="css/site.css">

    <!-- Load html modules -->
    <!-- jquery -->
    <script
	    src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
    <!-- <script src="js/jquery.min.js" type="text/javascript"></script> -->
    <!-- <script>$(function(){ $("#header").load("index_html/index_header.html"); });</script>
    <script>$(function(){ $("#footer").load("index_html/index_footer.html"); });</script> -->
  </head>

  <body class="d-flex flex-column min-vh-100">

    <header>
      <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-main p-1">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav mr-auto">
              <li class="nav-item" id="navbar-home">
                <a class="nav-link" href="index.html">Home</a>
              </li>
              <li class="nav-item active" id="navbar-form">
                <a class="nav-link" href="about.html">Learn more</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="jumbotron jumbotron-detail-growth-image text-white mt-3 bg-complement">
      <div class="container">
        <h1 class="display-5">Ethereum Blockchain Interaction Demo</h1>
      </div>
    </div>
   
    <main class="container flex-grow-1" role="main">
      <div class="row">
        <div class="col-lg-5">

          <div class="row w-100">

            <div class="form-group w-100">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text pt-1">0x</span>
                </div>

                <input type="text" class="form-control addressInput" id="addressInput"
                 placeholder="Smart Contract Key">
              </div>

              <div class="text-center">
                <button class="btn btn-success btn-lg btn-block mb-3" type="submit"
                 id="addressSubmit">
                  Inspect Contract
                </button>
              </div>

              <p>Custom Smart Contract type:</p>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="contractType" id="contractTypeInbox" value="Inbox" checked>
                <label class="form-check-label" for="contractTypeInbox">
                  Inbox
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="contractType" id="contractTypePie" value="Pie">
                <label class="form-check-label" for="contractTypePie">
                  Pie
                </label>
              </div>

            </div>

          </div>

          <div class="row inbox-details">
            <h3>Inbox Contract Details</h3>
            <% if (inbox.message) { %>
              <h4>Inbox message: <%= inbox.message %></h4>
            <% } %>

            <input type="text" class="form-control inboxMessageInput" id="inboxMessageInput"
             placeholder="Message to send.">
            <button class="btn btn-secondary btn-lg btn-block mb-3" type="submit"
             id="inboxMessageSubmit">
              Send Message to Smart Contract
            </button>
          </div>

          <div class="row pie-details">
            <h3>Pie Contract Details</h3>
            <% if (pie.sweetness) { %>
              <h5>Pie sweetness: <%= pie.sweetness %></h5>
              <h5>Servings: <%= pie.servings %></h5>
            <% } %>
            <% if (pie.orderMessage) { %>
              <h5>Ordermessage: <%= pie.orderMessage %></h5>
            <% } %>
            <button class="btn btn-secondary btn-lg btn-block mb-3" type="submit"
             id="orderPie">
              Order Pie
            </button>
          </div>

        </div>
        <div class="col-lg-7">
           <h4>What?</h4>
           <p>End-to-end demo of a <strong>custom Ethereum Smart Contract</strong> being interacted with by Web3. Smart Contract is deployed to an Ethereum test network.</p>
           <h4>For Whom?</h4>
           <p>CTC's London and Chicago crypto trading desks.</p>
           <h4>By Whom?</h4>
           <p><strong>Caitlin Cleary</strong> of the London crypto desk and <strong>Ryan T. Kelly</strong> of the VIG team.</p>
           <h4>Why?</h4>
           <p>CTC's crypto desk has felt that Blockchain programming will <strong>unlock revenue streams</strong>. CTC has been trying to hire an experienced Blockchain programmer without any luck.</p>
           <h4>Conclusions</h4>
           <p><strong>CTC Quants and Engineers are capable of taking on Ethereum Blockchain projects.</strong> The Ethereum Blockchain development environment is well established and very active.</p>
        </div>
      </div>
    </main>

    <footer class="footer bg-main text-lg-start text-white mt-4">
      <div class="text-center">
        <div class="container">
          <p class="m-0 p-1">CTC Hackweek 2022 by Caitlin Cleary and Ryan T. Kelly</p>
        </div>
      </div>
    </footer>

  </body>


  <script src="js/index.js" type="text/javascript"></script>

</html>
