/*****----------------------------------------
     1) font-family: 'Rajdhani', sans-serif;  
     2) font-family: 'Poppins', sans-serif; 
----------------------------------------*****/

body {
	color: #666666;
	font-size: 14px;
	font-family: 'poppins', sans-serif;
	line-height: 1.80857;
	font-weight: normal;
	overflow-x: hidden;
}

.bg-main {
  /* background: #ad2100; /* a charred, rusty red-orange */
  /* background: #c5b4e3; /* a light purple */
  background: #630330; /* tyrian purple */
}

.bg-complement {
  background: #036335; /* a forest green, tyrian purple's complement */
}
